*{
    margin: 0px;
    padding: 0px;
}
.pomodoro{
    text-align: center;
    width: 400px;
    height: 100%;
    position: absolute;
    left: -400px;
    background-color: rgb(32, 32, 32);
    color: white;
    z-index: 100;
}
#menu{
    text-align: center;
    padding: 5px 10px;
    background-color: rgb(75, 75, 75);
    color: rgb(153, 153, 153);
    display: block;
    font-size: 30px;
}
#menu img{
    position: absolute;
    top: 8px;
    right: -40px;    
    height: 30px;
    width: 30px;
}
.work , .Recration{
    display: block;
    background-color: rgb(42, 42, 42);
    padding: 20px;
}
.work p, .Recration p{
    display: inline-block;
    margin: 0 5px;
    font-size: 30px;
    color: white;
}

#TextWork, #TextReclear{
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 5px 0;
}
#TimeReclear, #TimeWork{
    width: 100px;
}
#MinusWork, #PlusWork, #MinusReclear, #PlusReclear{
    cursor: pointer;
    width: 30px;
}

#TextMessage{
    margin: 10px 0;
    width: 200px;
    font-size: 25px;
    padding: 5px;
}
#music, #clock{
    display: inline-block;
}
.option{
    width: 150px;
    border: 1px solid black;
    text-align: left;
    margin: 0 auto;
}
.option p{
    display: inline;
}
.option label{
   float: right;
}
button{
    font-size: 20px;
    padding: 5px 10px;
    display: block;
    margin: 5px auto;
    background-color: rgb(19, 19, 19);
    border: 0;
    color: white;

}

.mainPo{
    position: relative;
    text-align: center;
    top: 200px;
}
.mainPo h1{
    font-size: 80px;
}
